.primary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--nterra-blue);
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .secondary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--nterra-orange);
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .tertiary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--nterra-green);
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .primary:hover {
    border-color: var(--nterra-blue);
    background-color: #fff;
    color:  var(--nterra-blue);
  }

  .secondary:hover {
    border-color: var(--nterra-orange);
    background-color: #fff;
    color:  var(--nterra-orange);
  }

  .tertiary:hover {
    border-color: var(--nterra-green);
    background-color: #fff;
    color:  var(--nterra-green);
  }

  .primary:focus,
  .primary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .primary:focus,
  .primary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .tertiary:focus,
  .tertiary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  