#root {
  width: 90vw;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.container-grid {
  margin: auto;
  width: 90%;
  max-width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}